<section class="tm-fullscreen-box">
  <div class=" tm-contact-fullscreen-img widget_text">
    <div class="uk-text-center"> 
      <div class="uk-container uk-container-center">
        <div class="tm-fullscr-margin">
          <h2>Contact us</h2>
          <p>
            Maecenas eget tellus eu nibh suscipit iaculis pharetra sed est. 
            Sed condimentum ut nisl sed gravida. Phasellus lorem ante, interdum 
            eu gravida et, rutrum eu dui. Suspendisse potenti. Sed eu quam libero. 
            Sed non volutpat nunc. Proin mattis ligula vitae arcu facilisis, 
            id elementum purus auctor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>