<!-- Breadcrumbs -->
<div id='breadcrumbs'>
  <div class='uk-container uk-container-center'>
    <div class='uk-grid'>
      <div class='uk-width-medium-4-5 uk-width-large-5-6 uk-hidden-small'>
        <ul class='breadcrumbs uk-breadcrumbs uk-subnav uk-subnav-line'>
          <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>
            <a href="<%= root_url %>" itemprop='url'>
              <span itemprop='title'>Home</span>
            </a>
          </li>
          <% if !params[:page].blank? %>
          <li>
            <strong>Websites</strong>
          </li>
          <li>
            <strong>For Real Estate Agents</strong>
          </li>
          <li>
            <strong><%= params[:page] %></strong>
          </li>
          <% else %>
          <li>
            <strong><%= yield(:breadcrumb) || params[:action] %></strong>
          </li>
          <% end %>
        </ul>
      </div>
      <div class='uk-navbar-flip uk-width-medium-1-5 uk-width-large-1-6 uk-hidden-small'>
        <a href='tel:1-702-990-0480' class='uk-align-right uk-margin-right'><i class='uk-icon-phone'></i> (702) 990-0480</a>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumbs -->