<h1>Flexible Blogging Platform</h1>

<ul>
  <li>Create Posts</li>
  <li>Upload or Embed pictures and multimedia</li>
  <li>Moderate</li>
  <li>Publish RSS Feeds</li>
  <li>Support</li>
  <li>Monthly Blog's written for you</li>
</ul>