<%= content_for(:title, "CRM For Real Estate Agents | Agent Formula Real Estate Websites") %>
<div class='content'>
  <div class='uk-container uk-container-center'>
    <h1>CRM Lead Management</h1>
  </div>
</div>