<%= content_for(:title, "Drip Marketing For Real Estate Agents | Agent Formula Real Estate Websites") %>

<div class='content'>
  <div class='uk-container uk-container-center'>
    <h1>Email Drip Marketing</h1>
  </div>
</div>