<%= content_for(:title, "Lead Capture For Real Estate Agents | Agent Formula Real Estate Websites") %>
<h1>Lead Capture</h1>
<ul>
  <li>Nosy Neighbor</li>
  <li>Relocation Guide</li>
  <li>Investor PowerPoint</li>
  <li>Cashflow Calculator</li>
</ul>