<%= content_for(:title, "Contact Us | AgentFormula.com") %>

<style>
.google-maps-responsive {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
</style>

<div class="">
  <div class="tm-section-box ">
    <div class="uk-container uk-container-center">
      <section class="tm-bottom-a uk-grid tm-padding-top-none  tm-padding-bottom-large " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel">
            <div class="uk-grid uk-flex uk-flex-top uk-grid-collapse" data-uk-grid-margin="" data-uk-grid-match="">
              <div class="uk-panel uk-width-small-1-1 uk-width-medium-2-3 uk-flex-top uk-margin-large-bottom">
                <!-- Google Map Goes Here -->
                <div class='google-maps-responsive'>
    							<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="700" height="300" src="https://maps.google.com/maps?hl=en&q=Agent Formula 8400 W Sahara Ave, Las Vegas, NV. 89117&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed">
                    <div>
                      <small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small>
                    </div>
                    <div>
                      <small><a href="http://buyproxies.io/">private proxy</a></small>
                    </div>
                  </iframe>
                </div>              
              </div>        
              <div class="uk-panel uk-width-small-1-1 uk-width-medium-1-3 uk-margin-large-bottom">     
                <div class="uk-accordion tm-accordion-plus" data-uk-accordion="" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: false, delay:500}">
              
                  <h6 class="uk-accordion-title">
                    <div class="hexagon"><span></span></div>
                    AGENT FORMULA
                  </h6>
                  <div data-wrapper="true" style="height: auto; position: relative;" aria-expanded="true">
                    <div class="uk-accordion-content">
                      8400 W Sahara Ave,<br>
                      Las Vegas, NV 89117<br>
                      <strong>Phone:</strong> (702)-990-0480<br>
                      <strong>Email:</strong> <a href="mailto:sales@agentformula.com">sales@agentformula.com</a><br>
                    </div>
                  </div>
              
                  <h6 class="uk-accordion-title">
                    <div class="hexagon"><span></span></div>
                    Support (Agentcare)
                  </h6>
                  <div data-wrapper="true" style="overflow:hidden;height:0;position:relative;" aria-expanded="false">
                    <div class="uk-accordion-content">
                      8400 W Sahara Ave,<br>
                      Las Vegas, NV 89117<br>
                      <strong>Phone:</strong> (702)-990-0480<br>
                      <strong>Email:</strong> <a href="mailto:agentcare@agentformula.com">agentcare@agentformula.com</a><br>
                    </div>
                  </div>
              
                  <h6 class="uk-accordion-title">
                    <div class="hexagon"><span></span></div>
                    Finance Department
                  </h6>
                  <div data-wrapper="true" style="overflow:hidden;height:0;position:relative;" aria-expanded="false">
                    <div class="uk-accordion-content">
                      Maryann McCabe<br>
                      <strong>Phone:</strong> (702)-990-0480<br>
                      <strong>Email:</strong> <a href="mailto:finance@agentformula.com">finance@agentformula.com</a><br>
                    </div>
                  </div>
                  
                </div>
              </div>  
            </div>
          </div>
        </div>
      </section> 
    </div>
  </div>
</div>

<div class="">
  <div class="tm-section-box tm-block-bg-muted">
    <div class="uk-container uk-container-center">
      <section class="tm-bottom-c uk-grid tm-padding-top-large tm-padding-bottom-medium " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel tm-touch-form widget_text" data-uk-scrollspy="{cls:'uk-animation-fade', delay:500}">
            <div class="uk-grid" data-uk-grid-margin="">
              <div class="uk-width-1-1 uk-width-medium-1-2">
                <h3 class="uk-panel-title">Get in touch</h3>
              </div>
              <div class="uk-width-1-1 uk-width-medium-1-2">
                <div class="tm-touch-social">
                  <a draggable="false" href="#" class="uk-icon-small uk-icon-hover uk-icon-facebook"></a>
                  <a draggable="false" href="#" class="uk-icon-small uk-icon-hover uk-icon-twitter"></a>
                  <a draggable="false" href="#" class="uk-icon-small uk-icon-hover uk-icon-google-plus"></a>
                  <a draggable="false" href="#" class="uk-icon-small uk-icon-hover uk-icon-linkedin"></a>
                  <a draggable="false" href="#" class="uk-icon-small uk-icon-hover uk-icon-youtube"></a>
                </div>
              </div>
              <div class="uk-width-1-1 uk-grid-margin">
                <p>Need to speak with someone directly, or just have a few questions about Agent Formula? Don't hesitate to contact us.</p>
              </div>
              <div class="uk-width-1-1 uk-grid-margin">
                <div role="form" class="wpcf7" id="wpcf7-f458-o1" lang="en-US" dir="ltr">
                  <div class="screen-reader-response"></div>
                  <form action="/?page_id=27#wpcf7-f458-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                      <input type="hidden" name="_wpcf7" value="458">
                      <input type="hidden" name="_wpcf7_version" value="4.2.2">
                      <input type="hidden" name="_wpcf7_locale" value="en_US">
                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f458-o1">
                      <input type="hidden" name="_wpnonce" value="fdb738fa1e">
                    </div>
                    <div class="uk-grid uk-grid-medium" data-uk-grid-margin="">
                      <div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-2-5 uk-width-large-2-5">
                        <span class="wpcf7-form-control-wrap your-name">
                          <input type="text" name="your-name" value="" size="40" class="tm-touch-name" aria-required="true" aria-invalid="false" placeholder="Name">
                        </span><br>
                        <span class="wpcf7-form-control-wrap your-email">
                          <input type="url" name="your-email" value="" size="40" class="tm-touch-email" aria-required="true" aria-invalid="false" placeholder="Email">
                        </span><br>
                        <span class="wpcf7-form-control-wrap your-subject">
                          <input type="text" name="your-subject" value="" size="40" class="tm-touch-subject" aria-required="true" aria-invalid="false" placeholder="Subject">
                        </span>
                      </div>
                      <div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-3-5 uk-width-large-3-5">
                        <span class="wpcf7-form-control-wrap your-message">
                          <textarea name="your-message" cols="40" rows="10" class="tm-touch-message uk-margin-bottom" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                        </span>
                        <div class="uk-grid uk-grid-medium" data-uk-grid-margin="">
                          <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-1-3 uk-push-2-3">
                            <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit tm-touch-button uk-button uk-button-primary">
                            <img class="ajax-loader" src="http://w-m-valeo.torbara.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
